<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content=
            "width=device-width, user-scalable=no" />
    <meta charset="UTF-8" />
    <title>Color wheel</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body
    style="
      background-color: #f8f8f8;
      font-family: Roboto, Sans-serif;
      text-align: center;
      overscroll-behavior: contain;
      margin: 0;
    "
  >
    <canvas
      id="canvas"
      width="1024"
      height="800"
      style="
        width: calc(100% - 6px);
        max-width: 1024px;
        max-height: 800px;
      "
    ></canvas>

    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>
